@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #28252d;
}

@layer components {
  .links {
    @apply flex flex-row items-center gap-3 text-lg font-medium rounded-lg py-2 px-3 cursor-pointer;
  }
}

@layer utilities {
  .white-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
      brightness(103%) contrast(103%);
  }
}
